body {
  font-family: 'proxima-nova', 'Monserrat', 'Arial';
  margin: 0;
  background-color: #151515;
  background: linear-gradient(#004080 200px, #151515 600px);
}
#app {
  color: white;
  height: 515px;
}
#topFiveSongs {
  color: white;
}

.main {
  margin-left: 232px;
}


.artist-follow-btn {
  font-size: 100%;
  font-family: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: 1px solid darkgrey;
  color: white;
  font-size: 12px;
  letter-spacing: .1em;
  border-radius: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-top: -10px;
  margin-right: 15px;
}
.artist-follow-btn:hover {
  border: 1px solid white;
}
.ellipsis {
  font-size: 22px;
  padding-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  text-align: top;
  letter-spacing: -.15em;
}

.song-ellipsis {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -.2em;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  color: white;
}
.artist-options {
  display: inline-block;
  color: #b3b3b3;
  width: 10%;
  font-size: 14px;
}
.artist-menu {
  margin: 3px 0 0;
  padding: 8px 0;
  background-color: #282828;
}
.artist-menu-item {
  font-size: 14px;
  opacity: 1;
  min-width: 120px;
  padding: 7px 20px;
  line-height: 25px;
  letter-spacing: .08em;
}
.artist-menu-item:hover {
  background-color: #303030;
  color: white;
}
.song-menu {
  margin: 3px 0 0;
  padding: 8px 0;
  background-color: #282828;
}
.song-menu-item {
  font-size: 14px;
  opacity: 1;
  min-width: 120px;
  padding: 7px 20px;
  line-height: 25px;
  letter-spacing: .08em;
}
.song-menu-item:hover {
  background-color: #303030;
  color: white;
}
.song-options {
  display: inline-block;
  color: #b3b3b3;
  width: 10%;
  font-size: 14px;
}



